<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootdatabase.dao.BiyongDao">

    <select id="happrintbiyong" resultType="com.springbootdatabase.model.hap" parameterType="com.springbootdatabase.model.Biyong">
        select g+b+(((d*i)*0.01)/12)+d+build+inte+sul+ga+gita+(chong/year)+menth+ingun+zeryo+gita2 AS hap,danga AS danga from biyong WHERE id = #{id} </select>
    <select id="happrintbiyong1" resultType="com.springbootdatabase.model.hap1" parameterType="com.springbootdatabase.model.Biyong">
        select (((d*i)*0.01)/12)+menth+ingun+zeryo AS hap from biyong WHERE id = #{id} </select>

    <select id="checkId" resultType="Integer" parameterType="com.springbootdatabase.model.Biyong">
        select count(*) from biyong WHERE id = #{id}
    </select>

    <select id="printbiyong" resultType="com.springbootdatabase.model.Biyong" parameterType="com.springbootdatabase.model.Biyong">
    select * from biyong WHERE id = #{id}
    </select>

    <insert id="setBiyong" parameterType="com.springbootdatabase.model.Biyong">
        insert into biyong values(#{id}, #{g}, #{b}, #{d},#{i}, #{build}, #{inte}, #{sul},#{ga}, #{gita}, #{chong}, #{year},#{menth}, #{ingun}, #{zeryo}, #{gita2},#{danga})
    </insert>
    <update id="updateBiyong" parameterType="com.springbootdatabase.model.Biyong">
        update biyong set g= #{g}, b= #{b}, d= #{d},i= #{i}, build= #{build}, inte= #{inte}, sul= #{sul},ga= #{ga},gita= #{gita},chong= #{chong},year= #{year},menth= #{menth},ingun= #{ingun},zeryo= #{zeryo},gita2= #{gita2},danga= #{danga} where id= #{id}
    </update>
    <delete id="deleteBiyong" parameterType="com.springbootdatabase.model.Biyong">
        delete from biyong where id = #{id}
    </delete>
</mapper>